* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.background {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin-bottom: 50px;
}

.block {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

select, input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

select:disabled {
    background-color: #f0f0f0;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#result {
    color: green;
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
}
